html{
  font-size: 15px;
  line-height: 25px;
}
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  word-wrap: break-word;
  max-width: 30em;
  padding: 3em 2em;
  margin: 0 auto;
  color: #323232;
  background: #F6F6F6;
  -moz-osx-font-smoothing: grayscale;
}
img {
  max-width: 100%;
  border-radius: 2px;
  margin: 1em 0 .5em;
}
b, strong {
  font-weight: 600;
}
p {
  margin-bottom: 1em;
}
ul {
  padding: 0;
}
ul li {
  list-style: none;
  padding: 0;
}
ul > li {
  position: relative;
  padding-left: 1em;
}
ul > li::before {
  content: "";
  position: absolute;
  background-color: #cbd5e0;
  border-radius: 50%;
  width: .375em;
  height: .375em;
  top: calc(.875em - .1875em);
  left: 0;
}
header {
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
}
header a {
  color: #252A31;
  margin-left: 1em;
  text-decoration: none;
}
.logo {
  margin: 0;
  color: #006fff;
}
nav a {
  color: #aaa;
}
h1 p {
  margin: 0 0 .5em;
}
.h2, h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.text .h2, h2 {
  font-weight: 700;
  line-height: 1.125;
  margin-bottom: 1.5rem;
  color: #0a1832;
}
h1 {
  font-size: 45px;
  line-height: 1;
  margin-bottom: 0;
}
h3 {
  color: #0a1832;
  font-size: 30px;
  line-height: 1;
  margin: 1em 0 0.5em;
}
ul {
  margin: 0;
  padding: 0;
}
date, date a {
  color: #aaa !important;
  font-size: 12px;
  display: block;
  border: none !important;
  text-decoration: none;
}
fppost {
  display: block;
}
fppost a {
  color: #252A31;
  border-bottom: 1px solid #aaa;
  text-decoration: none;
}
fpdate {
  color: #aaa;
  font-size: 12px;
}
time {
  color: #888;
  text-decoration: italic;
}
pre {
  white-space: pre-wrap;
}
hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 3rem 0;
  width: 2rem;
}
main a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #aaaaaa73;
}
blockquote {
  margin:0 auto;
  width:auto;
  padding-left: 1.5em;
  border-left: 1px solid #aaa;
}
blockquote p {
  color: #252A31;
  width: auto;
  padding: 0;
}
cite {
  color: #5a7e7a;
  font-size: 12px;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  letter-spacing: .05em;
  text-transform: uppercase;
  font-style: normal;
}
footer {
  font-size: 12px;
  color: #aaa;
  margin: 4rem 0 0 0;
}
@media screen and (max-width:50rem) {
body {
  font-size: 110%;
 }
}
.star {
  width: 13px;
  height: 12px;
  display: inline-block;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTYuMzA5IDkuMjJMMi40MDkgMTJsMS40NC00LjU2N0wwIDQuNTgzbDQuNzg4LS4wNDJMNi4zMDggMCA3LjgzIDQuNTRsNC43ODkuMDQ0LTMuODUgMi44NDlMMTAuMjA5IDEyeiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+);
}
moviedate {
  color: #aaa;
  font-size: 12px;
  display: block;
  margin: -10px 0 1.5em;
  line-height: 1;
}
