@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  line-height: 1.55;
  color: #121212;
  font-weight: 800;
  letter-spacing: -0.02em;
}
body{
  margin: 4em;
  font-size: 1rem;
}
